<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Walter White</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Walter White - Breaking Bad</h1>
    <div id="menu">
    <a href="/">Home</a>
    <a href="/about" class="active">About</a>
    <a href="/works">Works</a>
    <a href="/gallery">Photo Gallery</a>
    </div>
    <div id="content">
    <img src="https://i.pinimg.com/550x/2d/ca/c5/2dcac5f13c689575ed2aa4f4b7d41e5f.jpg" alt="Walter White profile" id="profile-pic">
    <article>
    <h2>About Walter White</h2> 
    <p>Walter White Sr., also known by his alias Heisenberg, is a fictional character and the protagonist of the American crime drama television series Breaking Bad. The character is portrayed by Bryan Cranston.

        A chemist and graduate of California Institute of Technology, Walter co-founded the company Gray Matter Technologies. He left Gray Matter abruptly, selling his shares for $5,000. Soon afterward, the company made a fortune, much of it from Walt's research. Walt subsequently moved to Albuquerque, New Mexico, where he became a high school chemistry teacher. On his 50th birthday, he is diagnosed with Stage IIIA lung cancer. After this discovery, Walt resorts to manufacturing and selling methamphetamines with a former student, Jesse Pinkman (Aaron Paul), to ensure his family's financial security after his death. He is pulled deeper into the illicit drug trade, becoming more and more ruthless as the series progresses, and later adopts the alias "Heisenberg", which becomes recognizable as a kingpin figure in the Southwestern drug trade. Walt becomes less sympathetic throughout the show, as series creator Vince Gilligan wanted him to turn from "Mr. Chips into Scarface".
        
        Although AMC officials initially hesitated to cast Cranston due to his previous comedic role on Malcolm in the Middle, Gilligan cast him based on the actor's past performance in The X-Files episode "Drive", which Gilligan wrote. Cranston contributed greatly to the creation of his character, including Walt's backstory, personality, and physical appearance.</p>
</article>
    </div>
  </body>
</html>