<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Walter White</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Walter White - Breaking Bad</h1>
    <div id="menu">
    <a href="/" class="active">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/gallery">Photo Gallery</a>
    </div>
    <div id="content">
    <img src="https://i.pinimg.com/550x/2d/ca/c5/2dcac5f13c689575ed2aa4f4b7d41e5f.jpg" alt="Walter White profile" id="profile-pic">
    <article>
    <h2>Welcome!</h2> 
    <p>This page is dedicated to Walter White, the main character from the famous series Breaking Bad.</p>
</article>
    </div>
  </body>
</html>