<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Walter White</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Walter White - Breaking Bad</h1>
    <div id="menu">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/works" class="active">Works</a>
    <a href="/gallery">Photo Gallery</a>
    </div>
    <div id="content">
    <img src="https://i.pinimg.com/550x/2d/ca/c5/2dcac5f13c689575ed2aa4f4b7d41e5f.jpg" alt="Walter White profile" id="profile-pic">
    <article>
    <h2>Works</h2> 
    <p>Teacher by day, drug kingpin by night. After being diagnosed with terminal lung cancer, the J.P. Wynne High School chemistry teacher turned to the production and sale of methamphetamine to ensure his family’s future financial security. Walt’s knowledge of chemistry allows him to cook astoundingly pure meth, leading to a rapid – albeit tumultuous – rise in the criminal drug world.</p>
        <img src="https://m.economictimes.com/thumb/msid-72135830,width-1200,height-900,resizemode-4,imgsize-245182/methamphetamine_breaking-bad_istock.jpg" id="works-img" alt="meth">
</article>
    </div>
  </body>
</html>